version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: fullstack-blog-mongo
    restart: unless-stopped
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

  backend:
    build: ./backend
    container_name: fullstack-blog-backend
    restart: unless-stopped
    depends_on:
      - mongo
    environment:
      # OJO: este URI usa el nombre del servicio mongo como host
      MONGODB_URI: mongodb://mongo:27017/fullstack_blog
      NODE_ENV: production
      PORT: 4000
    ports:
      - "4000:4000"

volumes:
  mongo-data:
